<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="投资易课APP_UI自动化" parallel="tests" thread-count="6">
    <!-- 设置监听器 -->
    <!--
    <listeners>
        <listener class-name="com.jds.testCase.caseRule.listener.LCaseType"/>
        <listener class-name="com.jds.testCase.caseRule.listener.LCaseRetry"/>
        <listener class-name="com.jds.testCase.caseRule.listener.LTestNG"/>
    </listeners>
    -->

    <listeners>
        <listener class-name="com.jds.testCase.caseRule.listener.LExtentTestNGIReporter"/>
    </listeners>

    <!-- WX解码直播小程序 -->
    <test name="WX_JMZB" verbose="2" enabled="true">
        <parameter name="port" value="4723"></parameter>
        <parameter name="bp" value="4724"></parameter>
        <parameter name="chromedrniverport" value="8000"></parameter>
        <parameter name="system" value="Android"></parameter>
        <parameter name="serial" value="6d4a5e0d"></parameter>
        <parameter name="height" value="2340"></parameter>
        <parameter name="width" value="1080"></parameter>
        <parameter name="manufacturer" value="XIAOMI"></parameter>
        <parameter name="model" value="MI 9"></parameter>
        <parameter name="version" value="9"></parameter>
        <classes>
            <class name="com.jds.testCase.caseList.WX.CHomePage">
                <methods>
                    <include name="HomePage_Case_022"></include>
                </methods>
            </class>
            <class name="com.jds.testCase.caseList.WX.CDrycargoPage"></class>
            <class name="com.jds.testCase.caseList.WX.CWeiKePage"></class>
        </classes>
    </test>

    <!-- 测试 -->
    <test name="Test" verbose="2" enabled="false">
        <parameter name="port" value="4723"></parameter>
        <parameter name="udid" value="edd06f8e"></parameter>
        <classes>
        </classes>
    </test>
</suite>